

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
     "wdth" 100;
    }
 .text-primary{
    color: rgb(253, 110, 10);
 } 
 .dark-1{
    color: rgb(24, 24, 24);
 }
 .dark-2{
    color: rgb(71, 71, 71);
 }
 .dark-3{
    color: rgb(117, 117, 117);
 }
 .btn-primary{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    border: none;
 }
 .section-title{
    font-size: 35px;
    font-weight: bold;

 }
 .section-description{
    font-size: 18px;
    height: 90px;
    width: 909px;
    
 }

 .secondary-bg{
    background: rgb(255, 248, 243);
 }
 .text-center{
    text-align: center;
 }

 /* header style */
 
 .header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
 }

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
}

/* Banner Styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 235px;

}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;

}

.banner-titles{
    font-size: 85px;
    font-weight: 700;

}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;
}

/* Main Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.item-description{
    font-weight: 700;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

/*Skills Styles*/

.skills{
    background: rgb(255, 255, 255);
}

.skills-container{
    display: flex;
    gap: 24px;
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

/* Resume styles */

.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: 700;
}
.experience-title{
    font-size: 25px;
    font-weight: 700;
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description{
    font-size: 16px;
    font-weight: 400;
}
.resume hr{
    margin-top: 30px 0px;

}
.resume-download-cv{
    margin: 50px;
}


/* Footer Styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"]{
    height: 64px;
    width: 461px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
   padding: 10px 20px;
    border: none;
    margin-bottom: 24px;

}
footer textarea{
    height: 180px;
    width: 461px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: block;
    border: none;
    padding: 10px 20px;
    margin-bottom: 24px;
}